@model WebSiteBanHang.Models.Commom.addressModel

@{
    ViewBag.Title = "Sổ địa chỉ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var session = (WebSiteBanHang.Models.User)Session[WebSiteBanHang.Commons.sessionLogin.USER_SESSION];
}
@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/account_style.css">
    <style>
        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            display: none;
        }

            #overlay.active {
                display: block;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 999;
                pointer-events: auto;
            }
    </style>
}
<div id="overlay"></div>

<main class="wrapperMain_content">
    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li>
                    <a href="/account"><span>Tài khoản</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Địa chỉ khách hàng</span></strong></li>
            </ul>
        </div>
    </nav>
    <div class="op_address"></div>
    <section class="address wrap_background">
        <div class="container page_address margin-bottom-20">
            <div class="row">

                @Html.Partial("AcountSidebar")

                <div class="col-12 col-lg-9">
                    <h1 class="title-head">Địa chỉ của bạn</h1>
                    <p class="btn-row">
                        <button class="btn-edit-addr btn btn-primarys btn-more" id="btn-add" type="button">Thêm địa chỉ</button>
                    </p>
                    <div id="add_address" class="form-list modal_address modal">
                        <div class="btn-close closed_pop"><i class="fa fa-times"></i></div>
                        <h2 class="title_pop">
                            Thêm địa chỉ mới
                        </h2>
                        @using (Html.BeginForm("AddToaAddress", "TaiKhoan", new { userId = session.Id }, FormMethod.Post))
                        {
                            <input name="FormType" type="hidden" value="customer_address" /><input name="utf8" type="hidden" value="true" />
                            <div class="pop_bottom">
                                <div class="form_address">
                                    <div class="field">
                                        <fieldset class="form-group">
                                            @Html.TextBoxFor(model => model.NewAddress.hoten, new { @class = "form-control", @id = "FullName", @required = "", @type = "text", @name = "FullName", @autocapitalize = "words", @value = "" })
                                            <label>Họ tên</label>
                                        </fieldset>
                                    </div>
                                    <div class="field">
                                        <fieldset class="form-group">
                                            @Html.TextBoxFor(model => model.NewAddress.sodt, new { @class = "form-control", @id = "Phone", @type = "number", @name = "Phone", @autocapitalize = "words", @value = "" })
                                            <label>Số điện thoại</label>
                                        </fieldset>
                                    </div>
                                    <div class="field">
                                        <fieldset class="form-group">
                                            @Html.TextBoxFor(model => model.NewAddress.congty, new { @class = "form-control", @id = "Company", @type = "text", @name = "Company", @autocapitalize = "words", @value = "" })
                                            <label>Công ty</label>
                                        </fieldset>
                                    </div>
                                    <div class="field">
                                        <fieldset class="form-group">
                                            @Html.TextBoxFor(model => model.NewAddress.diachi, new { @class = "form-control", @id = "Address", @type = "text", @name = "Address", @autocapitalize = "words", @value = "" })
                                            <label>Địa chỉ</label>
                                        </fieldset>
                                    </div>
                                    <div class="field">
                                        <fieldset class="form-group select-field vndf">
                                            <select name="NewAddress.quocgia" class="form-control vn-fix add" id="mySelect1" data-default="Việt Nam">
                                                <option value="Abkhazia">Abkhazia</option>
                                                <option value="Afghanistan">Afghanistan</option>
                                                <option value="Albania">Albania</option>
                                                <option value="Algeria">Algeria</option>
                                                <option value="Andorra">Andorra</option>
                                                <option value="Angola">Angola</option>
                                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                <option value="Argentina">Argentina</option>
                                                <option value="Armenia">Armenia</option>
                                                <option value="Australia">Australia</option>
                                                <option value="Austria">Austria</option>
                                                <option value="Azerbaijan">Azerbaijan</option>
                                                <option value="Bahamas">Bahamas</option>
                                                <option value="Bahrain">Bahrain</option>
                                                <option value="Bangladesh">Bangladesh</option>
                                                <option value="Barbados">Barbados</option>
                                                <option value="Belarus">Belarus</option>
                                                <option value="Belgium">Belgium</option>
                                                <option value="Belize">Belize</option>
                                                <option value="Benin">Benin</option>
                                                <option value="Bhutan">Bhutan</option>
                                                <option value="Bolivia">Bolivia</option>
                                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                <option value="Botswana">Botswana</option>
                                                <option value="Brazil">Brazil</option>
                                                <option value="Brunei">Brunei</option>
                                                <option value="Bulgaria">Bulgaria</option>
                                                <option value="Burkina Faso">Burkina Faso</option>
                                                <option value="Burundi">Burundi</option>
                                                <option value="Cambodia">Cambodia</option>
                                                <option value="Cameroon">Cameroon</option>
                                                <option value="Canada">Canada</option>
                                                <option value="Cape Verde">Cape Verde</option>
                                                <option value="Central African Republic">Central African Republic</option>
                                                <option value="Chad">Chad</option>
                                                <option value="Chile">Chile</option>
                                                <option value="Colombia">Colombia</option>
                                                <option value="Comoros">Comoros</option>
                                                <option value="Congo-Brazzaville">Congo-Brazzaville</option>
                                                <option value="Congo-Kinshasa">Congo-Kinshasa</option>
                                                <option value="Costa Rica">Costa Rica</option>
                                                <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                                                <option value="Croatia">Croatia</option>
                                                <option value="Cuba">Cuba</option>
                                                <option value="Cyprus">Cyprus</option>
                                                <option value="Czech Republic">Czech Republic</option>
                                                <option value="Denmark">Denmark</option>
                                                <option value="Djibouti">Djibouti</option>
                                                <option value="Dominica">Dominica</option>
                                                <option value="Dominican Republic">Dominican Republic</option>
                                                <option value="East Timor">East Timor</option>
                                                <option value="Ecuador">Ecuador</option>
                                                <option value="Egypt">Egypt</option>
                                                <option value="El Salvador">El Salvador</option>
                                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                <option value="Eritrea">Eritrea</option>
                                                <option value="Estonia">Estonia</option>
                                                <option value="Ethiopia">Ethiopia</option>
                                                <option value="Fiji">Fiji</option>
                                                <option value="Finland">Finland</option>
                                                <option value="France">France</option>
                                                <option value="Gabon">Gabon</option>
                                                <option value="Gambia">Gambia</option>
                                                <option value="Georgia">Georgia</option>
                                                <option value="Germany">Germany</option>
                                                <option value="Ghana">Ghana</option>
                                                <option value="Greece">Greece</option>
                                                <option value="Grenada">Grenada</option>
                                                <option value="Guatemala">Guatemala</option>
                                                <option value="Guinea">Guinea</option>
                                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                <option value="Guyana">Guyana</option>
                                                <option value="Haiti">Haiti</option>
                                                <option value="Honduras">Honduras</option>
                                                <option value="Hong Kong">Hong Kong</option>
                                                <option value="Hungary">Hungary</option>
                                                <option value="Iceland">Iceland</option>
                                                <option value="India">India</option>
                                                <option value="Indonesia">Indonesia</option>
                                                <option value="Iran">Iran</option>
                                                <option value="Iraq">Iraq</option>
                                                <option value="Ireland">Ireland</option>
                                                <option value="Israel">Israel</option>
                                                <option value="Italy">Italy</option>
                                                <option value="Jamaica">Jamaica</option>
                                                <option value="Japan (Nippon)">Japan (Nippon)</option>
                                                <option value="Jordan">Jordan</option>
                                                <option value="Kazakhstan">Kazakhstan</option>
                                                <option value="Kenya">Kenya</option>
                                                <option value="Kiribati">Kiribati</option>
                                                <option value="North Korea">North Korea</option>
                                                <option value="Kosovo">Kosovo</option>
                                                <option value="Kuwait">Kuwait</option>
                                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                <option value="Laos">Laos</option>
                                                <option value="Latvia">Latvia</option>
                                                <option value="Lebanon">Lebanon</option>
                                                <option value="Lesotho">Lesotho</option>
                                                <option value="Liberia">Liberia</option>
                                                <option value="Libya">Libya</option>
                                                <option value="Liechtenstein">Liechtenstein</option>
                                                <option value="Lithuania">Lithuania</option>
                                                <option value="Luxembourg">Luxembourg</option>
                                                <option value="Macedonia (FYROM)">Macedonia (FYROM)</option>
                                                <option value="Madagascar">Madagascar</option>
                                                <option value="Malawi">Malawi</option>
                                                <option value="Malaysia">Malaysia</option>
                                                <option value="Maldives">Maldives</option>
                                                <option value="Mali">Mali</option>
                                                <option value="Malta">Malta</option>
                                                <option value="Marshall Islands">Marshall Islands</option>
                                                <option value="Mauritania">Mauritania</option>
                                                <option value="Mauritius">Mauritius</option>
                                                <option value="Mexico">Mexico</option>
                                                <option value="Micronesia">Micronesia</option>
                                                <option value="Moldova">Moldova</option>
                                                <option value="Monaco">Monaco</option>
                                                <option value="Mongolia">Mongolia</option>
                                                <option value="Montenegro">Montenegro</option>
                                                <option value="Morocco">Morocco</option>
                                                <option value="Mozambique">Mozambique</option>
                                                <option value="Myanmar">Myanmar</option>
                                                <option value="Nagorno-Karabakh">Nagorno-Karabakh</option>
                                                <option value="Namibia">Namibia</option>
                                                <option value="Nauru">Nauru</option>
                                                <option value="Nepal">Nepal</option>
                                                <option value="Netherlands">Netherlands</option>
                                                <option value="New Zealand">New Zealand</option>
                                                <option value="Nicaragua">Nicaragua</option>
                                                <option value="Niger">Niger</option>
                                                <option value="Nigeria">Nigeria</option>
                                                <option value="South Korea">South Korea</option>
                                                <option value="New Caledonia">New Caledonia</option>
                                                <option value="Norway">Norway</option>
                                                <option value="Oman">Oman</option>
                                                <option value="Pakistan">Pakistan</option>
                                                <option value="Palau">Palau</option>
                                                <option value="Palestine">Palestine</option>
                                                <option value="Panama">Panama</option>
                                                <option value="Papua New Guinea">Papua New Guinea</option>
                                                <option value="Paraguay">Paraguay</option>
                                                <option value="Peru">Peru</option>
                                                <option value="Philippines">Philippines</option>
                                                <option value="Poland">Poland</option>
                                                <option value="Portugal">Portugal</option>
                                                <option value="Qatar">Qatar</option>
                                                <option value="Romania">Romania</option>
                                                <option value="Russia">Russia</option>
                                                <option value="Rwanda">Rwanda</option>
                                                <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                <option value="Saint Lucia">Saint Lucia</option>
                                                <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                                <option value="Samoa">Samoa</option>
                                                <option value="San Marino">San Marino</option>
                                                <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                <option value="Saudi Arabia">Saudi Arabia</option>
                                                <option value="South Sudan">South Sudan</option>
                                                <option value="Senegal">Senegal</option>
                                                <option value="Serbia">Serbia</option>
                                                <option value="Seychelles">Seychelles</option>
                                                <option value="Sierra Leone">Sierra Leone</option>
                                                <option value="Singapore">Singapore</option>
                                                <option value="Saint Helena">Saint Helena</option>
                                                <option value="Slovakia">Slovakia</option>
                                                <option value="Slovenia">Slovenia</option>
                                                <option value="Solomon Islands">Solomon Islands</option>
                                                <option value="Somalia">Somalia</option>
                                                <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                                <option value="South Africa">South Africa</option>
                                                <option value="South Ossetia">South Ossetia</option>
                                                <option value="Spain">Spain</option>
                                                <option value="Sri Lanka">Sri Lanka</option>
                                                <option value="Sudan">Sudan</option>
                                                <option value="Suriname">Suriname</option>
                                                <option value="Swaziland">Swaziland</option>
                                                <option value="Sweden">Sweden</option>
                                                <option value="Switzerland">Switzerland</option>
                                                <option value="Syria">Syria</option>
                                                <option value="Tajikistan">Tajikistan</option>
                                                <option value="Tanzania">Tanzania</option>
                                                <option value="Thailand">Thailand</option>
                                                <option value="Togo">Togo</option>
                                                <option value="Tonga">Tonga</option>
                                                <option value="Tokelau">Tokelau</option>
                                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                <option value="Tunisia">Tunisia</option>
                                                <option value="Turkey">Turkey</option>
                                                <option value="China">China</option>
                                                <option value="Turkmenistan">Turkmenistan</option>
                                                <option value="Tuvalu">Tuvalu</option>
                                                <option value="Uganda">Uganda</option>
                                                <option value="Ukraine">Ukraine</option>
                                                <option value="United Arab Emirates">United Arab Emirates</option>
                                                <option value="United Kingdom">United Kingdom</option>
                                                <option value="United States">United States</option>
                                                <option value="Uruguay">Uruguay</option>
                                                <option value="Uzbekistan">Uzbekistan</option>
                                                <option value="Vanuatu">Vanuatu</option>
                                                <option value="Vatican">Vatican</option>
                                                <option value="Venezuela">Venezuela</option>
                                                <option value="Vietnam" selected>Vietnam</option>
                                                <option value="Wales">Wales</option>
                                                <option value="Western Sahara">Western Sahara</option>
                                                <option value="Yemen">Yemen</option>
                                                <option value="Zambia">Zambia</option>
                                                <option value="Zimbabwe">Zimbabwe</option>
                                                <option value="Taiwan">Taiwan</option>
                                            </select>
                                            <label>Quốc gia</label>
                                        </fieldset>
                                    </div>
                                    <div class="group-country">
                                        <fieldset class="form-group select-field not-vn">
                                            <select name="NewAddress.tinhthanh" value="" class="form-control add" id="Province1" data-address-type="province" data-address-zone="billing" data-select2-id="select2-data-billingProvince">
                                                <option value="" hidden="">---</option>
                                            </select>
                                            <label>Tỉnh thành</label>
                                        </fieldset>
                                        <fieldset class="form-group select-field not-vn">
                                            <select name="NewAddress.quanhuyen" class="form-control add" value="" id="District1" data-address-type="district" data-address-zone="billing" data-select2-id="select2-data-billingDistrict" disabled>
                                                <option value="" hidden="">---</option>
                                            </select>
                                            <label>Quận huyện</label>
                                        </fieldset>
                                        <fieldset class="form-group select-field not-vn">
                                            <select name="NewAddress.phuongxa" class="form-control add" value="" id="Ward1" data-address-type="ward" data-address-zone="billing" data-select2-id="select2-data-billingWard" disabled>
                                                <option value="phuongxa" hidden="">---</option>
                                            </select>
                                            <label>Phường xã</label>
                                        </fieldset>
                                    </div>
                                    <div class="field">
                                        <fieldset class="form-group">
                                            <input type="text" class="form-control" name="Zip" value="">
                                            <label>Mã Zip</label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label class="c-input c-checkbox" style="padding-left: 20px;">
                                        @Html.TextBoxFor(model => model.NewAddress.diachimacdinh, new { @id = "address_default_address_", @type = "checkbox", @name = "diachimacdinh", @value = "false" })
                                        <span class="c-indicator">Đặt là địa chỉ mặc định?</span>
                                    </label>
                                </div>
                                <div class="btn-row">
                                    <button class="btn btn-lg btn-dark-address btn-close" type="button" style="height: 45px; padding-right: 24px;"><span>Hủy</span></button>
                                    <button class="btn btn-lg btn-primarys btn-submit" id="addnew" type="submit"><span>Thêm địa chỉ</span></button>
                                </div>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $('#address_default_address_').change(function () {
                                        if ($(this).is(':checked')) {
                                            $('#address_default_address_').val("1");
                                        } else {
                                            $('#address_default_address_').val("0");
                                        }
                                    });
                                });

                            </script>
                        }
                    </div>
                    @if (Model.Addresses.Count != null)
                    {
                        foreach (var item in Model.Addresses)
                        {
                            <div class="row total_address">
                                <div id="view_address_24299240" class="customer_address col-xs-12 col-lg-12 col-md-12 col-xl-12">
                                    <div class="address_info" style="border-top: 1px #ebebeb solid;padding-top: 16px;margin-top: 20px;">
                                        <div class="address-group">
                                            <div class="address form-signup">
                                                <p>
                                                    <strong>Họ tên: </strong> @item.hoten
                                                    @if (item.diachimacdinh == 1)
                                                    {
                                                        <span class="address-default"><i class="far fa-check-circle"></i>Địa chỉ mặc định</span>
                                                    }
                                                </p>
                                                <p>
                                                    <strong>Địa chỉ: </strong>
                                                    @{
                                                        var parts = new List<string>();
                                                        if (!string.IsNullOrEmpty(item.diachi))
                                                        {
                                                            parts.Add(item.diachi);
                                                        }
                                                        if (!string.IsNullOrEmpty(item.phuongxa))
                                                        {
                                                            parts.Add(item.phuongxa);
                                                        }
                                                        if (!string.IsNullOrEmpty(item.quanhuyen))
                                                        {
                                                            parts.Add(item.quanhuyen);
                                                        }
                                                        if (!string.IsNullOrEmpty(item.tinhthanh))
                                                        {
                                                            parts.Add(item.tinhthanh);
                                                        }
                                                        if (!string.IsNullOrEmpty(item.quocgia))
                                                        {
                                                            parts.Add(item.quocgia);
                                                        }
                                                    }
                                                    @string.Join(", ", parts)
                                                </p>
                                                @if (!string.IsNullOrEmpty(item.sodt))
                                                {
                                                    <p><strong>Số điện thoại:</strong> @item.sodt</p>
                                                }
                                            </div>
                                        </div>
                                        <div id="tool_address_24299240" class="btn-address">
                                            <p class="btn-row">
                                                <button class="btn-edit-addr btn btn-primarys btn-edit" type="button" data-address-id="@item.Id">
                                                    Chỉnh sửa địa chỉ
                                                </button>
                                                @if (item.diachimacdinh != 1)
                                                {
                                                    <button class="btn btn-dark-address btn-edit-addr btn-delete" type="button" onclick="removeAddress(@item.Id)"><span>Xóa</span></button>
                                                }
                                            <script>
                                                function removeAddress(addressId) {
                                                        var confirmation = confirm('Bạn có chắc muốn xóa địa chỉ này?');
                                                        if (confirmation) {
                                                            $.ajax({
                                                                url: '@Url.Action("RemoveToAddress", "TaiKhoan")',
                                                                type: 'POST',
                                                                data: { addressId: addressId },
                                                                success: function (response) {
                                                                    if (response.success) {
                                                                        window.location.reload();
                                                                    } else {
                                                                        alert('Xóa địa chỉ thất bại.');
                                                                    }
                                                                },
                                                                error: function () {
                                                                    alert('Đã xảy ra lỗi. Vui lòng thử lại sau.');
                                                                }
                                                            });
                                                        }
                                                    }
                                            </script>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="edit_address_@item.Id" class="form-list modal_address modal modal_edit_address">
                                    <div class="btn-close closed_pop" data-address-id="@item.Id"><i class="fa fa-times"></i></div>
                                    <h2 class="title_pop">
                                        Chỉnh sửa địa chỉ
                                    </h2>
                                    <form method="post" action="/account/addresses/24299240" id="customer_address" accept-charset="UTF-8">
                                        <input name="FormType" type="hidden" value="customer_address" /><input name="utf8" type="hidden" value="true" />
                                        <div class="pop_bottom">
                                            <div class="form_address">
                                                <div class="field">
                                                    <fieldset class="form-group">
                                                        <input type="text" name="FullName" class="form-control" required value="@item.hoten" autocapitalize="words">
                                                        <label>Họ tên</label>
                                                    </fieldset>
                                                    <p class="error-msg"></p>
                                                </div>
                                                <div class="field">
                                                    <fieldset class="form-group">
                                                        <input type="number" pattern="\d+" class="form-control" id="Phone" name="Phone" maxlength="12" value="@item.sodt">
                                                        <label>Số điện thoại</label>
                                                    </fieldset>
                                                </div>
                                                <div class="field">
                                                    <fieldset class="form-group">
                                                        <input type="text" class="form-control" name="Company" value="@item.congty">
                                                        <label>Công ty</label>
                                                    </fieldset>
                                                </div>
                                                <div class="field">
                                                    <fieldset class="form-group">
                                                        <input type="text" class="form-control" name="Address1" value="@item.diachi">
                                                        <label>Địa chỉ</label>
                                                    </fieldset>
                                                </div>
                                                <div class="field">
                                                    <fieldset class="form-group select-field">
                                                        @*vndf*@
                                                        <select name="quocgia" class="form-control mySelect2" id="mySelect2_@item.Id" data-default="@item.quocgia">
=                                                           <option value="Abkhazia">Abkhazia</option>
                                                            <option value="Afghanistan">Afghanistan</option>
                                                            <option value="Albania">Albania</option>
                                                            <option value="Algeria">Algeria</option>
                                                            <option value="Andorra">Andorra</option>
                                                            <option value="Angola">Angola</option>
                                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                            <option value="Argentina">Argentina</option>
                                                            <option value="Armenia">Armenia</option>
                                                            <option value="Australia">Australia</option>
                                                            <option value="Austria">Austria</option>
                                                            <option value="Azerbaijan">Azerbaijan</option>
                                                            <option value="Bahamas">Bahamas</option>
                                                            <option value="Bahrain">Bahrain</option>
                                                            <option value="Bangladesh">Bangladesh</option>
                                                            <option value="Barbados">Barbados</option>
                                                            <option value="Belarus">Belarus</option>
                                                            <option value="Belgium">Belgium</option>
                                                            <option value="Belize">Belize</option>
                                                            <option value="Benin">Benin</option>
                                                            <option value="Bhutan">Bhutan</option>
                                                            <option value="Bolivia">Bolivia</option>
                                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                            <option value="Botswana">Botswana</option>
                                                            <option value="Brazil">Brazil</option>
                                                            <option value="Brunei">Brunei</option>
                                                            <option value="Bulgaria">Bulgaria</option>
                                                            <option value="Burkina Faso">Burkina Faso</option>
                                                            <option value="Burundi">Burundi</option>
                                                            <option value="Cambodia">Cambodia</option>
                                                            <option value="Cameroon">Cameroon</option>
                                                            <option value="Canada">Canada</option>
                                                            <option value="Cape Verde">Cape Verde</option>
                                                            <option value="Central African Republic">Central African Republic</option>
                                                            <option value="Chad">Chad</option>
                                                            <option value="Chile">Chile</option>
                                                            <option value="Colombia">Colombia</option>
                                                            <option value="Comoros">Comoros</option>
                                                            <option value="Congo-Brazzaville">Congo-Brazzaville</option>
                                                            <option value="Congo-Kinshasa">Congo-Kinshasa</option>
                                                            <option value="Costa Rica">Costa Rica</option>
                                                            <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                                                            <option value="Croatia">Croatia</option>
                                                            <option value="Cuba">Cuba</option>
                                                            <option value="Cyprus">Cyprus</option>
                                                            <option value="Czech Republic">Czech Republic</option>
                                                            <option value="Denmark">Denmark</option>
                                                            <option value="Djibouti">Djibouti</option>
                                                            <option value="Dominica">Dominica</option>
                                                            <option value="Dominican Republic">Dominican Republic</option>
                                                            <option value="East Timor">East Timor</option>
                                                            <option value="Ecuador">Ecuador</option>
                                                            <option value="Egypt">Egypt</option>
                                                            <option value="El Salvador">El Salvador</option>
                                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                            <option value="Eritrea">Eritrea</option>
                                                            <option value="Estonia">Estonia</option>
                                                            <option value="Ethiopia">Ethiopia</option>
                                                            <option value="Fiji">Fiji</option>
                                                            <option value="Finland">Finland</option>
                                                            <option value="France">France</option>
                                                            <option value="Gabon">Gabon</option>
                                                            <option value="Gambia">Gambia</option>
                                                            <option value="Georgia">Georgia</option>
                                                            <option value="Germany">Germany</option>
                                                            <option value="Ghana">Ghana</option>
                                                            <option value="Greece">Greece</option>
                                                            <option value="Grenada">Grenada</option>
                                                            <option value="Guatemala">Guatemala</option>
                                                            <option value="Guinea">Guinea</option>
                                                            <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                            <option value="Guyana">Guyana</option>
                                                            <option value="Haiti">Haiti</option>
                                                            <option value="Honduras">Honduras</option>
                                                            <option value="Hong Kong">Hong Kong</option>
                                                            <option value="Hungary">Hungary</option>
                                                            <option value="Iceland">Iceland</option>
                                                            <option value="India">India</option>
                                                            <option value="Indonesia">Indonesia</option>
                                                            <option value="Iran">Iran</option>
                                                            <option value="Iraq">Iraq</option>
                                                            <option value="Ireland">Ireland</option>
                                                            <option value="Israel">Israel</option>
                                                            <option value="Italy">Italy</option>
                                                            <option value="Jamaica">Jamaica</option>
                                                            <option value="Japan (Nippon)">Japan (Nippon)</option>
                                                            <option value="Jordan">Jordan</option>
                                                            <option value="Kazakhstan">Kazakhstan</option>
                                                            <option value="Kenya">Kenya</option>
                                                            <option value="Kiribati">Kiribati</option>
                                                            <option value="North Korea">North Korea</option>
                                                            <option value="Kosovo">Kosovo</option>
                                                            <option value="Kuwait">Kuwait</option>
                                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                            <option value="Laos">Laos</option>
                                                            <option value="Latvia">Latvia</option>
                                                            <option value="Lebanon">Lebanon</option>
                                                            <option value="Lesotho">Lesotho</option>
                                                            <option value="Liberia">Liberia</option>
                                                            <option value="Libya">Libya</option>
                                                            <option value="Liechtenstein">Liechtenstein</option>
                                                            <option value="Lithuania">Lithuania</option>
                                                            <option value="Luxembourg">Luxembourg</option>
                                                            <option value="Macedonia (FYROM)">Macedonia (FYROM)</option>
                                                            <option value="Madagascar">Madagascar</option>
                                                            <option value="Malawi">Malawi</option>
                                                            <option value="Malaysia">Malaysia</option>
                                                            <option value="Maldives">Maldives</option>
                                                            <option value="Mali">Mali</option>
                                                            <option value="Malta">Malta</option>
                                                            <option value="Marshall Islands">Marshall Islands</option>
                                                            <option value="Mauritania">Mauritania</option>
                                                            <option value="Mauritius">Mauritius</option>
                                                            <option value="Mexico">Mexico</option>
                                                            <option value="Micronesia">Micronesia</option>
                                                            <option value="Moldova">Moldova</option>
                                                            <option value="Monaco">Monaco</option>
                                                            <option value="Mongolia">Mongolia</option>
                                                            <option value="Montenegro">Montenegro</option>
                                                            <option value="Morocco">Morocco</option>
                                                            <option value="Mozambique">Mozambique</option>
                                                            <option value="Myanmar">Myanmar</option>
                                                            <option value="Nagorno-Karabakh">Nagorno-Karabakh</option>
                                                            <option value="Namibia">Namibia</option>
                                                            <option value="Nauru">Nauru</option>
                                                            <option value="Nepal">Nepal</option>
                                                            <option value="Netherlands">Netherlands</option>
                                                            <option value="New Zealand">New Zealand</option>
                                                            <option value="Nicaragua">Nicaragua</option>
                                                            <option value="Niger">Niger</option>
                                                            <option value="Nigeria">Nigeria</option>
                                                            <option value="South Korea">South Korea</option>
                                                            <option value="New Caledonia">New Caledonia</option>
                                                            <option value="Norway">Norway</option>
                                                            <option value="Oman">Oman</option>
                                                            <option value="Pakistan">Pakistan</option>
                                                            <option value="Palau">Palau</option>
                                                            <option value="Palestine">Palestine</option>
                                                            <option value="Panama">Panama</option>
                                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                                            <option value="Paraguay">Paraguay</option>
                                                            <option value="Peru">Peru</option>
                                                            <option value="Philippines">Philippines</option>
                                                            <option value="Poland">Poland</option>
                                                            <option value="Portugal">Portugal</option>
                                                            <option value="Qatar">Qatar</option>
                                                            <option value="Romania">Romania</option>
                                                            <option value="Russia">Russia</option>
                                                            <option value="Rwanda">Rwanda</option>
                                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                            <option value="Saint Lucia">Saint Lucia</option>
                                                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                                                            <option value="Samoa">Samoa</option>
                                                            <option value="San Marino">San Marino</option>
                                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                                            <option value="South Sudan">South Sudan</option>
                                                            <option value="Senegal">Senegal</option>
                                                            <option value="Serbia">Serbia</option>
                                                            <option value="Seychelles">Seychelles</option>
                                                            <option value="Sierra Leone">Sierra Leone</option>
                                                            <option value="Singapore">Singapore</option>
                                                            <option value="Saint Helena">Saint Helena</option>
                                                            <option value="Slovakia">Slovakia</option>
                                                            <option value="Slovenia">Slovenia</option>
                                                            <option value="Solomon Islands">Solomon Islands</option>
                                                            <option value="Somalia">Somalia</option>
                                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                                            <option value="South Africa">South Africa</option>
                                                            <option value="South Ossetia">South Ossetia</option>
                                                            <option value="Spain">Spain</option>
                                                            <option value="Sri Lanka">Sri Lanka</option>
                                                            <option value="Sudan">Sudan</option>
                                                            <option value="Suriname">Suriname</option>
                                                            <option value="Swaziland">Swaziland</option>
                                                            <option value="Sweden">Sweden</option>
                                                            <option value="Switzerland">Switzerland</option>
                                                            <option value="Syria">Syria</option>
                                                            <option value="Tajikistan">Tajikistan</option>
                                                            <option value="Tanzania">Tanzania</option>
                                                            <option value="Thailand">Thailand</option>
                                                            <option value="Togo">Togo</option>
                                                            <option value="Tonga">Tonga</option>
                                                            <option value="Tokelau">Tokelau</option>
                                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                            <option value="Tunisia">Tunisia</option>
                                                            <option value="Turkey">Turkey</option>
                                                            <option value="China">China</option>
                                                            <option value="Turkmenistan">Turkmenistan</option>
                                                            <option value="Tuvalu">Tuvalu</option>
                                                            <option value="Uganda">Uganda</option>
                                                            <option value="Ukraine">Ukraine</option>
                                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                                            <option value="United Kingdom">United Kingdom</option>
                                                            <option value="United States">United States</option>
                                                            <option value="Uruguay">Uruguay</option>
                                                            <option value="Uzbekistan">Uzbekistan</option>
                                                            <option value="Vanuatu">Vanuatu</option>
                                                            <option value="Vatican">Vatican</option>
                                                            <option value="Venezuela">Venezuela</option>
                                                            <option value="Vietnam">Vietnam</option>
                                                            <option value="Wales">Wales</option>
                                                            <option value="Western Sahara">Western Sahara</option>
                                                            <option value="Yemen">Yemen</option>
                                                            <option value="Zambia">Zambia</option>
                                                            <option value="Zimbabwe">Zimbabwe</option>
                                                            <option value="Taiwan">Taiwan</option>
                                                        </select>
                                                        <label>Quốc gia</label>
                                                    </fieldset>
                                                </div>
                                                <div class="group-country">
                                                    <fieldset class="form-group select-field not-vn">
                                                        <select name="tinhthanh" value="" class="form-control add province myselect" data-default="@item.tinhthanh" id="Province2_@item.Id">
                                                            <option value="" hidden="">---</option>
                                                        </select>
                                                        <label>Tỉnh thành</label>
                                                    </fieldset>
                                                    <fieldset class="form-group select-field not-vn">
                                                        <select name="quanhuyen" value="" class="form-control add  district myselect" data-default="@item.quanhuyen" id="District2_@item.Id" disabled>
                                                            <option value="" hidden="">---</option>
                                                        </select>
                                                        <label>Quận huyện</label>
                                                    </fieldset>
                                                    <fieldset class="form-group select-field not-vn">
                                                        <select name="phuongxa" value="" class="form-control add ward myselect" data-default="@item.phuongxa" id="Ward2_@item.Id" disabled>
                                                            <option value="" hidden="">---</option>
                                                        </select>
                                                        <label>Phường xã</label>
                                                    </fieldset>
                                                </div>
                                                <div class="field">
                                                    <fieldset class="form-group">
                                                        <input type="text" class="form-control" name="Zip" value="@item.mazip">
                                                        <label>Mã Zip</label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            @if (item.diachimacdinh != 1)
                                            {
                                                <div class="checkbox">
                                                    <label class="c-input c-checkbox" style="padding-left: 20px;">
                                                        <input type="checkbox" name="diachimacdinh" id="diachimacdinh" value="true">
                                                        <span class="c-indicator">Đặt là địa chỉ mặc định?</span>
                                                    </label>
                                                </div>
                                            }
                                            <div class="btn-row">
                                                <button class="btn btn-dark-address btn-fix-addr btn-close" type="button" style="height: 45px; padding-right: 23px;" data-address-id="@item.Id">
                                                    Hủy
                                                </button>
                                                <button class="btn btn-primarys btn-submit" id="update"><span>Cập nhật địa chỉ</span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/he/1.2.0/he.min.js"></script>

<script>

    var overlay = document.getElementById('overlay');
    var body = document.body;
    document.getElementById("btn-add").addEventListener("click", function () {
        document.getElementById("add_address").style.display = "block";
        overlay.classList.add('active');
        body.style.overflow = "hidden";

    });
    var editButtons = document.getElementsByClassName("btn-edit");
    for (var i = 0; i < editButtons.length; i++) {
        editButtons[i].addEventListener("click", function () {
            var addressIndex = this.getAttribute("data-address-id");
            var editForm = document.getElementById("edit_address_" + addressIndex);
            editForm.style.display = "block";
            overlay.classList.add('active');
            body.style.overflow = "auto";
        });
    }

    var closeButtons = document.getElementsByClassName("btn-close");

    for (var i = 0; i < closeButtons.length; i++) {
        closeButtons[i].addEventListener("click", function () {
            var closeButton = this;
            var addAddressElement = document.getElementById("add_address");
            var addressIndex = closeButton.getAttribute("data-address-id");
            var editAddressElement = document.getElementById("edit_address_" + addressIndex);

            if (addAddressElement) {
                addAddressElement.style.display = "none";
            }

            if (editAddressElement) {
                editAddressElement.style.display = "none";
            }

            overlay.classList.remove('active');
            body.style.overflow = "auto";
        });
    }


    function initializeDropdowns(citisId, districtId, wardId) {
        // Lấy tham chiếu đến các phần tử select từ id
        var citis = document.getElementById(citisId);
        var districts = document.getElementById(districtId);
        var wards = document.getElementById(wardId);

        // Tạo đối tượng Parameter chứa thông tin yêu cầu HTTP GET
        var Parameter = {
            url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
            method: "GET",
            responseType: "application/json",
        };

        // Gửi yêu cầu HTTP GET và nhận dữ liệu từ tệp JSON
        var promise = axios(Parameter);
        promise.then(function (result) {
            renderCity(result.data);
        });

        // Hàm renderCity để tạo các tùy chọn cho select tỉnh/thành phố
        function renderCity(data) {
            for (const x of data) {
                citis.options[citis.options.length] = new Option(x.Name, x.Id = x.Name);
            }
            // Xử lý khi select tỉnh/thành phố thay đổi
            citis.onchange = function () {
                districts.length = 1;
                wards.length = 1;
                // Lọc dữ liệu quận/huyện dựa trên tỉnh/thành phố được chọn
                const result = data.filter(n => n.Id === this.value);

                // Tạo các tùy chọn cho select quận/huyện
                for (const k of result[0].Districts) {
                    districts.options[districts.options.length] = new Option(k.Name, k.Id = k.Name);
                }

                districts.disabled = false;
                wards.disabled = true;
                wards.innerHTML = '<option value="" hidden>---</option>';
            };

            // Xử lý khi select quận/huyện thay đổi
            districts.onchange = function () {
                const selectedDistrict = this.value;
                if (selectedDistrict !== '') {
                    wards.length = 1;
                    const dataCity = data.filter(n => n.Id === citis.value);
                    const dataWards = dataCity[0].Districts.filter(n => n.Id === selectedDistrict)[0].Wards;
                    // Tạo các tùy chọn cho select phường/xã
                    for (const w of dataWards) {
                        wards.options[wards.options.length] = new Option(w.Name, w.Id = w.Name);
                    }
                    wards.disabled = false;
                } else {
                    wards.disabled = true;
                    wards.innerHTML = '<option value="" hidden>---</option>';
                }
            };

            document.addEventListener("DOMContentLoaded", function () {
                // Hàm chọn giá trị trong thẻ select
                function selectValue(selectElement, value) {
                    for (var i = 0; i < selectElement.options.length; i++) {
                        if (selectElement.options[i].value === value) {
                            selectElement.options[i].selected = true;
                        }
                    }
                }

                @foreach (var item in Model.Addresses)
                {
                    @:selectValue(document.getElementById("mySelect2_@item.Id"), "@item.quocgia");
                    @:selectValue(document.getElementById("Province2_@item.Id"), he.decode("@item.tinhthanh"));
                    @:selectValue(document.getElementById("District2_@item.Id"), he.decode("@item.quanhuyen"));
                }

                // Kiểm tra giá trị ban đầu và thêm lớp "has-content"
                var inputs = document.querySelectorAll("input");
                inputs.forEach(function (input) {
                    input.addEventListener('input', function () {
                        if (input.value !== '') {
                            input.classList.add('has-content');
                        } else {
                            input.classList.remove('has-content');
                        }
                    });

                    if (input.value !== '') {
                        input.classList.add('has-content');
                    }
                });

                var selects = document.querySelectorAll("select");
                selects.forEach(function (select) {
                    select.addEventListener('change', function () {
                        if (select.value !== '') {
                            select.classList.add('has-content');
                        } else {
                            select.classList.remove('has-content');
                        }
                    });
                });

                // Kiểm tra giá trị ban đầu và thêm lớp "has-content"
                selects.forEach(function (select) {
                    if (select.value !== null) {
                        select.classList.add('has-content');
                    }
                });
                console.log(citis.value);
                // Kiểm tra nếu select tỉnh/thành phố đã có giá trị được chọn sẵn
                if (citis.value !== null && citis.value !== '') {
                    districts.disabled = false;
                    const changeEvent = new Event('change');
                    citis.dispatchEvent(changeEvent);
                    const selectedDistrict = districts.value;

                    if (selectedDistrict.value !== null && selectedDistrict.value !== '')
                    {
                            wards.disabled = false;
                            // Gọi sự kiện onchange của quận/huyện để kích hoạt xử lý
                            const changeEvent = new Event('change');
                            districts.dispatchEvent(changeEvent);
                    }
                }

            });
        }

        // Xử lý sự kiện khi select tỉnh/thành phố thay đổi
        citis.addEventListener('change', function () {
            var selectedProvince = this.value;
            if (selectedProvince !== "") {
                districts.disabled = false;
            } else {
                districts.disabled = true;
                districts.innerHTML = '<option value="" hidden>---</option>';
                wards.disabled = true;
                wards.innerHTML = '<option value="" hidden>---</option>';
            }
        });

        // Xử lý sự kiện khi select quận/huyện thay đổi
        districts.addEventListener('change', function () {
            var selectedDistrict = this.value;
            if (selectedDistrict !== "") {
                wards.disabled = false;
            } else {
                wards.disabled = true;
                wards.innerHTML = '<option value="" hidden>---</option>';
            }
        });
    }
    // Gọi hàm initializeDropdowns với các id tương ứng
    initializeDropdowns("Province1", "District1", "Ward1");
    @foreach (var item in Model.Addresses)
    {
        @:initializeDropdowns("Province2_@item.Id", "District2_@item.Id", "Ward2_@item.Id");
    }


</script>
