
@{
    ViewBag.Title = "Đăng Ký Tài Khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebSiteBanHang.Models.User

@section Styles{
    <link rel="stylesheet" href="~/Assets/Css/account_style.css">
}
<main class="wrapperMain_content">
    <nav class="bread-crumb clearfix">
        <div class="container">
            <ul class="breadcrumb">
                <li class="home">
                    <a href="/"><span>Trang chủ</span></a>
                    <span class="mr_lr">&nbsp;/&nbsp;</span>
                </li>
                <li><strong><span>Đăng ký tài khoản</span></strong></li>
            </ul>
        </div>
    </nav>
    <section class="section wrap_background">
        <div class="container">
            <div class="wrap_background_aside page_login">
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                        <div class="page-login">
                            <div id="login">
                                <h1>
                                    Thông tin cá nhân
                                </h1>
                                @using (Html.BeginForm("RegisterStart", "TaiKhoan", FormMethod.Post))
                                {
                                    <input name="FormType" type="hidden" value="customer_register"><input name="utf8" type="hidden" value="true"><input type="hidden" id="Token-991699710ab746c99ea89be88efa6a01" name="Token" value="03AL8dmw9jVvwCetB3QMxuodKiyMG7Df6d3P4y6snT3gMf11E-5tj_siMcp3mBTDA4B4EDvJAYh7D1Ygqjjdr_A_Q4o68uF2nCNta9_1R8ESSKbrZAme-Ykn5JDG1DDSqvz0Fn03m1Nm82HHDq85aSTdgP780IV04f6-O-VKBlYVvQ4kR1R3jNWKtWgGqOyE4dypmH9ST9kzBtokvMNl1qfbImu-FnmYSH60er-HW1DWoab1EiXupSBiEy5NO9h4zuLy3q8FZHX-i5yWtyeGNWpn78rMje6HYWgFujPLFSGMmA-gnKAW68_MlcWMFU8LrCXDHUO7DjGK-Ag30Qr80t-McSpjKo1xA_aIGAfUiGc3XdOHDobZvp6NesowZxeKD19Khxzt7BG7OaZKJMSWrd1IAq6qYme74jMBk7hlV3fpzSlYlxxB5CExwPScCEtkFkw31Eyh4XUAeOXpUh-1ovvNcn8yMhhm8wyW-lWeiPrcVNls5gd9iprgk5ULmu7Tcd5_PUUaCYkTpmiKgiFNd1nZTBplV3m8NCNtgcT4iOq25xfqrMdA5GTKI">
                                    <div class="form-signup " style="color:red;">
                                    </div>
                                    <div class="form-signup clearfix">
                                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <fieldset class="form-group">
                                                    <label>Họ <span class="required">*</span></label>
                                                    @Html.TextBoxFor(model => model.ho, new { @class = "form-control form-control-lg", @id = "lastName", @placeholder = "Họ", @required = "", @type = "text", @name = "lastName" })

                                                </fieldset>
                                            </div>
                                            <div class="col-md-12">
                                                <fieldset class="form-group">
                                                    <label>Tên <span class="required">*</span></label>
                                                    @Html.TextBoxFor(model => model.ten, new { @class = "form-control form-control-lg", @id = "firstName", @placeholder = "Tên", @required = "", @type = "text", @name = "firstName" })

                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <fieldset class="form-group">
                                                    <label>Số điện thoại <span class="required">*</span></label>
                                                    @Html.TextBoxFor(model => model.sodt, new { @class = "form-control form-control-lg", @id = "Phone", @placeholder = "Số điện thoại", @required = "", @type = "text", @name = "Phone" })

                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <fieldset class="form-group">
                                                    <label>Email <span class="required">*</span></label>
                                                    @Html.TextBoxFor(model => model.email, new { @class = "form-control form-control-lg", @pattern = "[a-z0-9._%+-]+[data-val-email][a-z0-9.-]+[a-z]{2,63}$", @id = "customer_email", @placeholder = "Email", @required = "", @type = "email", @autofocus = "autofocus", @name = "Email" })
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <fieldset class="form-group">
                                                    <label>Mật khẩu <span class="required">*</span> </label>
                                                    @Html.TextBoxFor(model => model.password, new { @class = "form-control form-control-lg", @id = "customer_password", @placeholder = "Mật khẩu", @required = "", @type = "password", @name = "Password" })
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="section margin-top-10 button_bottom">
                                            <button type="submit" value="Đăng ký" class="btn  btn-style btn_50 btn_register">Đăng ký</button>
                                            <span class="or">
                                                Bạn đã có tài khoản? Đăng nhập
                                                <a href="/TaiKhoan/login" style="text-decoration: underline;" class="btn-link-style  btn-style margin-right-0">tại đây</a>
                                            </span>
                                        </div>
                                    </div>
                                }
                                @*<form method="post" action="/account/register" id="customer_register" accept-charset="UTF-8">
                                </form>*@
                                <div class="block social-login--facebooks">
                                    <p class="a-center">
                                        Hoặc đăng nhập bằng
                                    </p>
                                    <a href="" class="social-login--facebook" onclick="loginFacebook()"><img width="129px" height="37px" alt="facebook-login-button" src="//bizweb.dktcdn.net/assets/admin/images/login/fb-btn.svg"></a>
                                    <a href="" class="social-login--google" onclick="loginGoogle()"><img width="129px" height="37px" alt="google-login-button" src="//bizweb.dktcdn.net/assets/admin/images/login/gp-btn.svg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

